# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

.DS_Store

node_modules/
npm/node_modules/
lib
/reports/
selenium-debug.log

# Editor directories and files

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
